<div class="container">
  <div class="d-flex m-3 p-2">
      <div class="flex-grow-1">
        <h1>lists</h1>
      </div>
      <div class="m-1">
        <%= link_to new_list_path, :class => "btn btn-dark" do %>
          <i class="fa-solid fa-plus"></i> Add
        <% end %>
      </div>
  </div>
  <div class="container">
    <ul class="list-inline">
      <% @lists.each do |list| %>
        <li class="m-1 p-1">
          <%= link_to list_path(list), :class => "bg text-decoration-none text-muted" do %>
            <i class="fa-solid fa-hashtag"></i>&nbsp; <%= list.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <hr>
</div>
